@import "adminlte.css";
@import "summernote.min.css";







.show_post img {
    width: 500px;
    height: auto;
}


.show_all_posts img {
    width: 100px;
    height: auto;
}


.show_preview_image_wr img {
    width: 100px;
    height: auto;
}



.show_main_image_wr img {
    width: 300px;
    height: auto;
}








